/*Smarthphones com telas muito pequenas. Ex: Samsung Galaxy Fold*/
@media screen and (max-width: 280px){
    .container-items .box h3{
        font-size: 14px;
    }
    .container-items .box input{
        font-size: 14px;
    }
    main .anuncio h3{
        padding: 5px;
    }
} 

/*Mobile*/
@media screen and (max-width: 690px){
    .container-items .box{
        width: 90%;
    }
    main .anuncio h3{
        font-size: 14px;
        margin-bottom: 15px;
        padding: 10px;
    }
    section .container-items{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    section .container-items .box-itens{
        width: 94%;
        padding: 10px;
    }
    section .container-items .box-itens .textoEinput h3{
        font-size: 15px;
    }
    section .botao #botaoCalcular{
        width: 40%;
    }
    footer h3, footer h3 a{
        font-size: 15px;
    } 
    section .container-resultados{
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    section .container-resultados .box-resultado{  
        width: 94%;
        margin-bottom: 10px;
    }
    section #container-anual #box-anual{
        width: 94%;
    }
    section #container-anual #box-anual #imagemAnual{
        display: none;
    }
    section #container-anual #box-anual .textoAnual{
        width: 100%;
    }
    section #container-anual #box-anual .textoAnual #tituloAnual{
        font-size: 40px;
        text-align: center;
    }
    section #container-anual #box-anual .textoAnual #paragrafoAnuncio{
        text-align: center;
        font-size: 15px
    }
    #agradecimento h2{
        font-size: 14px;
    }
    section #container-anual #box-anual .textoAnual #dadosAnuais, section .relatorioBasico p{
        font-size: 16px;
        padding-left: 6px;
    }
}

/*Tablet e Ipad*/
@media (min-width:755px) and (max-width:1024px){
    .container-items .box{
        margin-top: 15px;
        width: 50%;
    }
    main .anuncio h3{
        font-size: 15px;
        margin-bottom: 15px;
    }
    section .container-items{
        grid-template-columns: 1fr 1fr;
    }
    section .container-items .box-itens{
        width: 90%;
        margin-bottom: 15px;
    }
    section .botao{
        margin-top: 15px;
    }
    section .botao #botaoCalcular{
        width: 30%;
    }
    footer h3, footer h3 a{
        font-size: 17px;
    }
    section #container-anual #box-anual #imagemAnual{
        display: none;
    }
    section #container-anual #box-anual .textoAnual{
        width: 100%;
    }
    section #container-anual #box-anual .textoAnual #tituloAnual{
        font-size: 50px;
        text-align: center;
    }
    section #container-anual #box-anual .textoAnual #paragrafoAnuncio{
        text-align: center;
        font-size: 17px;
    }
    section #container-anual #box-anual .textoAnual #dadosAnuais, section .relatorioBasico p{
        font-size: 15px;
        padding-left: 10px;
    }
    section .container-items .box-itens .textoEinput h3{
        font-size: 15px;
    }
}

@media (min-width:500px) and (max-width:1200px){
    .container-items .box{
        width: 60%;
    }
    section .container-items{
        grid-template-columns: 1fr 1fr;
    }
    main .anuncio h3{
        padding: 0px 5px;
    }
    section .container-items .box-itens .textoEinput h3{
        font-size: 14px;
    }
    section #container-anual #box-anual .textoAnual{
        width: 100%;
    }
    section #container-anual #box-anual .textoAnual #dadosAnuais, section .relatorioBasico p{
        font-size: 16px;
    }
}

@media (min-width:692px) and (max-width:950px){
    section .container-items .box-itens .textoEinput h3{
        font-size: 12.5px;
    }
    section #container-anual #box-anual #imagemAnual{
        display: none;
    }
}

/*Telas de notebook menores*/
@media (min-width:769px) and (max-width:1000px) {
    .container-items .box{
        width: 60%;
    }
    main .anuncio h3{
        font-size: 15px;
        margin-bottom: 15px;
    }
}