#div-resultado{
    display: none;
}

section .container-resultados{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
}

section .container-resultados .box-resultado{  
    display: flex;
    align-items: center;
    width: 35%;
    padding: 25px;
    border: 4px solid gray;
    border-radius: 10px;
    transition: .3s ease all; 
    font-family: 'Quicksand', sans-serif;
}

section .container-resultados .box-resultado h3{
    margin-left: 40px;
    font-size: 20px;
}

/*Resultado Anual*/
section #container-anual{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

section #container-anual #box-anual{
    display: flex;
    width: 85%;
    background: none;
    border: 4px solid gray;
    border-radius: 10px;
    padding-bottom: 30px;
}

section #container-anual #box-anual #imagemAnual{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

section #container-anual #box-anual .textoAnual{
    width: 62%;
    padding: 10px;
}
 
section #container-anual #box-anual .textoAnual #tituloAnual{
    font-size: 60px;
    margin-top: 20px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
}

section #container-anual #box-anual .textoAnual #paragrafoAnuncio{
    font-size: 20px;
    text-align: left;
    font-weight: 700;
}

section #container-anual #box-anual .textoAnual #dadosAnuais{
    font-size: 20px;
    margin-top: 35px;
}

section #container-anual #box-anual .textoAnual #dadosAnuais p{
    margin-bottom: 15px;
    color: #D80D22;
    font-family: 'Quicksand', sans-serif;
}

section .relatorioBasico p{
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

section #agradecimento{
    margin-top: 35px;
    font-size: 14px;
    font-family: "Poppins",Helvetica, Arial;
}